---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import Stats3 from '~/components/widgets/Stats3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import CallToAction2 from '~/components/widgets/CallToAction2.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Engagez-moi', href: 'mailto:elerouzes@gmail.com', icon: 'tabler:download' }}
    callToAction2={{ text: 'En savoir plus', href: '#features' }}
    image={{ src: import('~/assets/images/mev2.png'), alt: 'Edouard Le Rouzes' }}
  >
    <Fragment slot="title">
      Edouard Le Rouzes <span class="hidden lg:inline"> <br class="2xl:hidden"/> </span>
      <span class="text-accent dark:text-white highlight"> </span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Edouard est</span></span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Prêt à relever de nouveaux défis</span> un jeune créatif et ambitieux qui cherche à se démarquer. Motivé d'apprendre et de performer, ses compétences sont continuellement améliorés afin de devenir employé versatile. 
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Compétences"
    title="Ce que je maitrise"
    subtitle="La connaissance n'a aucune valeur à moins que vous ne la mettiez en pratique."
    items={[
      [
        {
          title: 'La suite office',
          description:
            'Une grande connaissance de la suite office ainsi que de ses outils (Excel, Words, Planner, Etc.) ',
          icon: 'tabler:files',
        },
        {
          title: 'Design & Montage Vidéo',
          description:
            'Une maitrise confortable de Adobe photoshop et Final Cut Pro X, une connaissance grandissante de Blender',
          icon: 'tabler:video',
        },
        {
          title: 'Codages',
          description:
            'Présentement en développement de mes compétences de codages HTML, CSS, Javascript',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Google Ads & Meta',
          description:
            'Ayant déjà oeuvré avec les outils de Google, je suis en mesure de mettre sur place des campagnes de marketing digitales',
          icon: 'tabler:rocket',
        },
        {
          title: 'Search Engine Optimization (SEO)',
          description:
            'Des compétences grandissantes en SEO grace à mes cours sur le codage de sites internet',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Gestion de projets',
          description:
            "Possédant un excellent sens de l'organisation, je suis en mesure de travailler sur beaucoups de projets en même temps.",
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />


  <!-- Steps Widget ****************** -->
  <body>
    <h1 id="études"></h1>
  </body>

  <Steps
    title="Mon parcours scholaire"
    items={[
      {
        title: "DEP: <span class='font-medium'>en lancement d'entreprise</span>",
        description:
          "Né d’un désire d’aider mes parents à lancer leur compagnie, j’ai complété un DEP en parallèle de mon secondaire afin d’avoir les connaissances requises pour démarrer une entreprise au Québec.",
        icon: 'tabler:package',
      },
      {
        title: 'DEC: <span class="font-medium">en entrepreneuriat</em>',
        description:
          "Attiré par le monde des affaires, j’ai souhaité parfaire mes connaissances en réalisant une technique en entrepreneuriat au Collège Champlain à Saint-Lambert, Qc. <div style='font-style: italic; font-size: smaller; font-weight: 300;'><em>Cours pertinents: Notions de gestion, Finances pour la prise de décision, Analyse de données commerciales, Recherche et renseignement, Psychologie du consommateur. Les bases des ressources humaines</em></div>",
        icon: 'tabler:file',
      },
      {
        title: 'BAC : <span class="font-medium">en administration des affaires (avec Majeure en Marketing)</span>',
        description:
          "Une fois mon DEC complété, je me suis fait offrir une bourse d’excellence par une université située en Australie, ayant un désir constant de découvrir de nouvelles choses, je me suis lancé dans cette aventure. <div style='font-style: italic; font-size: smaller; font-weight: 300;'>Cours pertinents: Administration des affaires, Gestions des ressources humaines, Finances, Marketing, Comportements du consommateur, Ventes et négociations, Gestion internationale des ressources humaines </div>",
        icon: 'tabler:school',
      },
      {
        title: 'Marché du travail !',
        icon: 'tabler:check',
      },
    ]}
    
    image={{
      src: import('~/assets/images/griffithv1.png'),
      alt: 'Steps image',
    }}
  />

  <body>
    <h1 id="pro"></h1>
  </body>

  
  <Content
  highlight="APRÈS LES ÉTUDES"
  title="Expériences Professionnelles"

  items={[
      {
        title: 'Gestion',
        description:
          "- Gestion complète de plus de 20 syndicats de copropriétés (pour un total de plus de 700 portes) et gestion complémentaire du département des opérations, regroupant plus de 65 syndicats (pour un total de plus de 1715 portes)",
      },
      {
        title: 'Préparation des budgets',
        description:
          "- Préparations et exécution des budgets ainsi que des travaux pour les syndicats sous ma supervision",
      },
      {
        title: 'Autres',
        description:
          "- Présider les conseils d’administration et assemblées générales pour chaque syndicat sous ma supervision <div class='mt-2 text-muted dark:text-slate-400 astro-ONJAJOHQ'>- Mise en place de systèmes et stratégies afin d’améliorer l’efficacité générale de la compagnie</div><div class='mt-2 text-muted dark:text-slate-400 astro-ONJAJOHQ'>- Évaluer et fournir une aide complémentaire au département marketing afin d'accroître la notoriété de l'entreprise</div>",
      },
    ]}
    image={{
      src: import('~/assets/images/outre.png'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Gestionnaire immobilier</h3>
      Gestion Laucandrique, Brossard <div>2022-2023</div>
    </Fragment>
  </Content>

  <Stats3
  items={[
    { name: 'Portes', value: '717' },
    { name: 'Syndicats', value: '22' },
    { name: 'Bâtiments', value: '24' },
  ]}
/>

  <Content
  isReversed
  isAfterContent
  items={[
      {
        title: 'Gestion générale',
        description:
          "- Gérer et superviser une équipe de 25 employés (Recrutement, formation, évaluation de performance et administration)",
      },
      {
        title: 'Planification & Optimisations',
        description:
          "- Planifications et implémentation de nouveaux produits <div class='mt-2 text-muted dark:text-slate-400 astro-ONJAJOHQ'>- Optimisation des tâches et création d'objectifs concrets ayant pour but d'améliorer l'expérience client ainsi que d'uniformiser la qualité du service des agents</div>",
      },
      {
        title: 'Tâches connexes',
        description:
          "- Prendre en charge les situations plus épineuses et à risque de devenir une plainte au Conseil de la Radiodiffusion et des Télécommunications (CRTC) <div class='mt-2 text-muted dark:text-slate-400 astro-ONJAJOHQ'>- Analyse des performances de ventes et mise en place de solutions afin d'atteindre les objectifs de l'entreprise</div>",
      },
    ]}
    image={{
      src: import('~/assets/images/ebox2.png'),
      alt: "employé d'ebox",
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Gestionnaire adjoint</h3>
      Ebox, Longueuil <div>2018-2022</div>
    </Fragment>
  </Content>

  <Stats3
  items={[
    { name: 'Employés', value: '25' },
    { name: "Centre d'appels", value: '2' },
    { name: 'Clients', value: '~15K' },
  ]}
/>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Service client',
        description:
          "- Répondre de manière professionnelle et rapide aux demandes et questionnements des adhérents concernant leurs contrats d’assurance collective et apporter des solutions cohérentes grâce à une écoute active <div class='mt-2 text-muted dark:text-slate-400 astro-ONJAJOHQ'>- Prendre en charge les demandes des ressources humaines de nos clients afin d’apporter les modifications nécessaires aux contrats de leurs employés </div>",
      },
      {
        title: 'Personne ressource',
        description:
        "- Agir à titre de personne-ressource et apporter le support nécessaire auprès des autres secteurs afin de faire en sorte que les objectifs en matière de niveau de service soient constamment atteints ou dépassés",
      },
      {
        title: 'Résolution de problèmes',
        description:
          "- Prendre en charge et résoudre les situations plus compliquées ainsi qu’effectuer les suivis nécessaires jusqu’à la résolution complète du problème Participer à la préparation de dossiers litigieux pouvant faire l’objet d’une action légale.",
      },
    ]}
    image={{
      src: import('~/assets/images/tourssq.jpg'),
      alt: 'employé ssq assurance',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Agent de soutiens aux assurances collectives</h3>
      SSQ Assurance, Longueuil <div> 2020-2022</div>
    </Fragment>
  </Content>

  <Content
  isReversed
  isAfterContent
  items={[
      {
        title: 'Mise en place et optimisation des campagnes',
        description:
        "Développer et mettre en place des campagnes de marketing numérique sur différents canaux publicitaires, surveiller les résultats et optimiser les campagnes en fonction des données de performance.",
      },
      {
        title: 'Collecte et visualisation de données',
        description:
          "Collecter et analyser les données à l’aide de Google analytics et des résultats des plateformes de publicités afin de créer des rapports complets et pouvoir en faire la présentation visuelle aux autres départements",
      },
      {
        title: 'Budgets',
        description:
        "Créer et maintenir un plan budgétaire, surveiller les dépenses et veiller à ce que les campagnes soient rentables et respectent le budget en dépassent continuellement les attentes de nos clients.",
      },
    ]}
    image={{
      src: import('~/assets/images/havas.png'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Coordinateur Marketing Digitale. (Stage)</h3>
      Havas <div>2019</div>
    </Fragment>
  </Content>


  <!-- Features2 Widget ************** -->
  <body>
    <h1 id="certifications"></h1>
  </body>

  <Features2
    title="Mes Certifications"
    subtitle="En apprentissage constant, de manière autodidacte"
    highlight="Connaissances"
    items={[
      {
        title: 'Google Project Management: Professional Certificate',
        description:
          "Modules pertinents: Planification de projets, Débutez un projet, Exécution de projets, Gestion de projets Agile <div style='font-style: italic; font-weight: bold;'>Google Courses - Coursera</div>",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'HTML, CSS, and Javascript for Web Developers',
        description:
          "Cours sur l’apprentissage du codage ainsi que sur la création de sites web fluide et qui s’adapte à l’écran de l’utilisation<div style='font-style: italic; font-weight: bold;'>Johns Hopkins University</div>",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Certification sur la suite microsoft office',
        description:
          "Certificat apprenant les bases ainsi que les fonctions les plus avancées des outils Microsoft (Words, excel, powerpoint, etc).<div style='font-style: italic; font-weight: bold;'>Champlain College</div>",
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Certification de base sur les réseaux sociaux',
        description:
          "Apprentissage des bases du marketing sur les réseaux sociaux afin de pouvoir développer du contenu approprié.<div style='font-style: italic; font-weight: bold;' >Hubspot</div>",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Certification sur la plateforme Google Analytics',
        description:
          "Cours sur la plateforme Google analytics, ses fonctions, ses réglages ainsi que toutes les possibilités offertes.<div style='font-style: italic; font-weight: bold;' >Google</div>",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Certification Google Ads (Search)',
        description:
          "Certifications sur la plateforme Google Ads, plus spécifiquement sur la partie liée à la recherche web.<div style='font-style: italic; font-weight: bold;' >Google</div>",
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Certification Google Ads (Display)',
        description:
          "Certifications sur la plateforme Google Ads, plus spécifiquement sur la partie liée au Display Ads.<div style='font-style: italic; font-weight: bold;'' >Google</div>",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Certification Google Ads (Measurement)',
        description:
          "Certifications sur la plateforme Google Ads, plus spécifiquement sur la partie liée aux résultats des campagnes.<div style='font-style: italic; font-weight: bold;'' >Google</div>",
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Certifications Hubspot sur le marketing',
        description:
          "Certification de base sur le marketing, ses grandes lignes ainsi que ses fonctions et utilisations.<div style='font-style: italic; font-weight: bold;'' >Hubspot</div>",
        icon: 'icon-park:page-template',
      },
    ]}
  />


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Foir Aux Questions"
    subtitle="Il est possible que ce ne soit pas des questions que je me fais régulièrement poser mais plutot une dernière façon de me vendre en tant qu'employé ... à confirmer."
    highlight="FAQs"
    items={[
      [
        {
          question: "Est-ce que j'ai de l'expérience en Marketing ?",
          answer:
            "La réponse est oui ! J'ai non seulement un BAC et une majeure en la matière mais j'ai également eu l'opportunité de travailler dans une agence internationale (Havas) et créer des campagnes de marketing digitale complète grace à cela. J'ai également de l'expérience en gestion de communauté sur les réseaux sociaux ainsi qu'en création de contenue pour effectuer du marketing de contenu.",
        },
        {
          question: "Quel aspect de la création de contenu est ce que j'ai effectué ?",
          answer:
            "Je n'ai pas de formation concrète en design mais j'ai appris de manière autodidacte en créant des publications et des vidéos comment utiliser plusieurs outils tel que photoshop, final cut pro X, canvas et autres.",
        },
        {
          question: "Quel sont tes connaissances en marketing digitale ?",
          answer:
            "J'ai eu la possibilité par le passé de réaliser des campagnes de marketing digitale à l'aide de plateforme tel que Google ads, Facebook (Meta) ads ainsi que Microsoft Advertising. Je suis donc familier avec les termes spécifiques, les recherches de mots clés et l'évaluation des campagnes. Étant passionné par les chiffres, je nourris également une étrange fascination aux analytiques et à la réalisations de tableaux avec Goodle Data Studio.",
        },
      ],
      [
        {
          question: "Quel expérience en codage possèdes-tu ?",
          answer:
            "J'aime me démarquer en poussant continuellement mon apprentissage afin de pouvoir opérer dans plusieurs sphères professionnelles simultanément. Mon apprentissage est fait pour la plupart du temps de manière autodidacte, à trois heures du matin généralement. Je suis présentement en train de suivre un cours sur la construction d'application web avec PHP de l'université du Michigan.",
        },
        {
          question: "De quelle façon te démarques-tu ?",
          answer:
            "Bien que ce soit des connaissances nouvellement acquises, je suis présentement en mesure d'effectuer du codage en language HTML, CSS ainsi que Javascript. Ce site internet à été réalisé à l'aide de la plateforme Astro et est une modification de leur template fait par mes soins.",
        },
        {
          question: 'Quelles sont tes réalisations ?',
          answer:
            "Sortant de l'école, je dois dire que j'ai eu peu d'opportunité de travailler sur des projets marketing professionnelles. Vous pouvez tout de même trouver les projets que j'ai pu réaliser dans l'onglet Réalisation de ce site internet.",
        },
      ],
    ]}
  />

  <!-- Stats Widget ******************

  <Stats
    items={[
      { name: 'Salaire', value: '65K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction2
    callToAction={{
      text: 'Mon CV',
      href: '~/assets/ELR-cv.pdf',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Vous souhaitez en parler avec les autres ? <br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      Vous pouvez télécharger mon C.V. en utilisant le bouton ci-dessous.<br class="hidden md:inline" />Ce sera plus simple.
      <!-- <a href="/assets/ELR-cv.pdf" download="expenses.pdf">Download Your Expense Report</a> -->
      <div><br><a class="btn btn-primary w-full sm:w-auto" href="src/assets/ELR-cv.pdf" download>Mon CV</a></div>
    </Fragment>
  </CallToAction2>
</Layout>


